@import "default";


.title-margin-xs {
  margin-bottom: rem(40);
}

.title-margin-sm {
  margin-bottom: rem(70);
}

.title-margin-md {
  margin-bottom: rem(90);
}

.title-margin-lg {
  margin-bottom: rem(88);
}

.title-margin-xl {
  margin-bottom: rem(130);
}

.color-purple {
  color: $purple;
}

.keepcenter {
  max-width: 1110px;
  margin: 0 auto;
}

.outer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.button {
  font-family: 'Montserrat', sans-serif;;
  font-weight: bold;
  border: none;
  padding: rem(24);
  font-size: rem(22);
  background: $purple;
  color: #ffffff;
  align-self: flex-start;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  text-decoration: none !important;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.1);
  }

  &_block {
      display: block;
      width: 100%;
  }

  &_elipse {
    border-radius: 35px;
  }

  &_blue {
    background: $blue;
  }

  &_semi-bold {
    font-weight: 600;
  }

  &_wide {
    min-width: 350px;
  }

  &_lightweight {
    font-size: rem(16);
  }

  &_control {
    padding: rem(20);
    font-size: rem(16);
    min-width: 160px;
    color: $black;
    font-weight: 600;
    background: $white;
    text-transform: none;
    border-radius: 30px;
    box-shadow: -5px 0px 60px 2px rgba(173, 0, 255, 0.1);

    &:hover {
      transform: none;
    }

    &.active {
      color: $white;
      background: $purple;
    }
  }
}

.btn-row,
.btn-cell {
  font-family: 'Montserrat', sans-serif;;
  font-weight: 400;
  border: 1px solid $purple;
  padding: rem(20) rem(27);
  background: $white;
  color: #000000;
  align-self: flex-start;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  text-decoration: none !important;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-row {
  font-size: rem(22);
  width: 100%;

  &.active {
    color: $white;
    background: $purple;
  }
}

.btn-cell {
  font-size: rem(20);
  width: 255px;
  
  &:hover {
    border: 1px solid transparent;
    box-shadow: 4px 4px 25px 10px rgba(173, 0, 255, 0.1);
  }

  &::after {
    content: '';
    width: 18px;
    height: 16px;
    position: absolute;
    right: 26px; top: 50%;
    transform: translate(0%, -50%);
    background-image: url('../img/svg/x.svg');
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &.active {
    color: $white;
    background: $purple;
    
    &::after {
      background-image: url('../img/svg/v.svg');
    }
  }

  &_green {
    border: 1px solid $green;

    &:hover,
    &.active {
      box-shadow: 4px 4px 25px 10px rgba(0, 201, 148, 0.1);
    }

    &.active {
      color: $black;
      background: $green;
    }
  }
}

.info-btn {
  display: block;
  color: $white;
  font-size: rem(22);
  font-weight: 600;
  width: 65px;
  height: 65px;
  display: block;
  position: relative;
  border-radius: 50%;
  background: #EDC8FF;
  cursor: pointer;
  flex-shrink: 0;

  &:before {
    content: '?';
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
  }
}

.marked-frame {
  border: 1px solid $purple;
  padding: 30px 25px;
  position: relative;
  
  &::before {
    content: '';
    width: 36px;
    height: 22px;
    position: absolute;
    left: 30px; top: 50%;
    transform: translateY(-50%);
    background-image: url('../img/svg/v-big.svg');
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.input-box {
  padding: 15px 15px 15px 20px;
  background: $green;
  font-size: rem(22);
  display: flex;
  justify-content: space-between;

  &__text {
    color: $white;
    font-weight: 700;
    display: block;
  }

  &__input {
    font-weight: 400;
    width: 142px;
    border: none;
    padding: 10px 22px 6px;
    color: #E4E1E1;
  }
  &__wide-input {
    width: 335px;
  }
}

// flow-styles
// flow-styles
// flow-styles
// flow-styles


.header {
  font-size: rem(22);
  font-weight: bold;
  width: 100%;
  position: fixed;
  top: 0; left: 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__logo {}
}

.action-screen {
  // plan-row
  // plan-col
  // center 
  // tac
  // indent-title
}

.scene {
  position: relative;

  &__inner {
    display: flex;
  }

  &__side {
    flex-basis: 22.97%;
    padding-top: 120px;
    padding-right: 65px;
    position: relative;

    &-figure_2 {
      max-width: 410px;
      max-height: 690px;
      bottom: 0; right: 0;
      width: 29.09vw;
      height: 47.91vw;
      background-image: url('../img/figure2.1.png');
      background-position: 100% 100%;
      z-index: -1;
    }
  }

  &__main {
    // 855
    flex-basis: 77.03%;
    padding-top: 130px;
    padding-bottom: 80px;
    position: relative;
    box-shadow: -60px 0px 60px -60px rgba(173, 0, 255, 0.12);
  }

  &__title {}

  &__text-indent {
    margin-left: 65px;
  }

  &__text-limit {
    max-width: 760px;
  }

  &__plan-column {
    padding-right: 22.22%;
    padding-left: 14.61%;
  }

  &__pick-container {
    margin-bottom: 35px;
  }

  &__btn-row {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__progress-percent {
    font-size: rem(22);
    font-weight: 600;
    color: $purple;
  }

  &__buttons-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  &__info {
    display: flex;
  }
  
  &__figure {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}

.scene-info {
  &__btn {
    margin-right: 30px;
  }

  &__text {
    padding-top: 10px;
    font-weight: 500;
    font-style: italic;
    opacity: 1;
  }
}

.stage-2 {
  &__figure_1 {
    z-index: -1;
    max-width: 196px;
    max-height: 439px;
    width: 13.61vw;
    height: 30.48vw;
    background-image: url('../img/figure1.2.png');
    top: 140px; right: 0;
    transform: rotate(180deg);
    background-position: 100% 50%;
  }

  &__figure_2 {
    z-index: -1;
    max-width: 252px;
    max-height: 342px;
    width: 17.5vw;
    height: 23.75vw;
    background-image: url('../img/figure1.4.png');
    bottom: 0; right: 0;
    background-position: 100% 100%;
  }
}

.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  font-size: rem(16);
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 50px;
  color: $grey;

  &:after {
    content: '';
    position: absolute;
    width: 1px; 
    height: 100%;
    top: 0; right: 0;
    background: rgb(173,0,255);
    background: linear-gradient(180deg, rgba(173,0,255,1) 0%, rgba(28,194,255,1) 100%);
  }

  &__point {
    padding-right: 30px;
    position: relative;
    text-align: right;
    
    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &:after {
      content: '';
      width: 11px;
      height: 11px;
      border: 1px solid $black;
      background: #E4E1E1;
      border-radius: 50%;
      position: absolute;
      top: 50%; right: 6px;
      transform: translate(100%, -50%);
      z-index: 1;
    }

    &.active {
      color: $black;
    }

    &_1,
    &_2 {
      &:after {
        border: 1px solid #AD00FF;
        background: #E4E1E1;
      }

      &.active {
        &:after {
          background: #AD00FF;
        }
      }
    }

    &_3,
    &_4,
    &_5 {
      &:after {
        border: 1px solid #9B4DFF;
        background: #E4E1E1;
      }

      &.active {
        &:after {
          background: #9B4DFF;
        }
      }
    }

    &_6,
    &_7,
    &_8 {
      &:after {
        border: 1px solid #1CBBFF;
        background: #E4E1E1;
      }

      &.active {
        &:after {
          background: #1CBBFF;
        }
      }
    }
  }
}

.scene-start {
  display: none;

  &__inner {
    padding-top: 120px;
    padding-bottom: 115px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 632px;
    text-transform: uppercase;
    letter-spacing: 3px;

    @include respond(sm) {
      margin-bottom: 100px;
    }
  }

  &__figure-block {
    width: 100%;
    position: relative;
    height: 30.83vw;
    max-height: 444px;
    margin-bottom: 40px;

    @include respond(sm) {
      order: 1;
      height: 337px;
      margin-bottom: 0;
    }
  }

  &__buttons-holder {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;

    @include respond(sm) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 50px;
    }
  }

  &__button {

    &:first-child {
      margin-right: 30px;

      @include respond(sm) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

    @include respond(sm) {
      align-self: center;
    }
  }

  &__figure-1 {
    max-width: 1140px;
    max-height: 555px;
    width: 79.16vw;
    height: 38.54vw;
    bottom: 0; right: 50%;
    transform: translateX(50%);
    background-image: url('../img/figure1.1.png');

    @include respond(sm) {
      width: 690px;
      height: 337px;
    }
  }

  &__figure-2 {
    z-index: -1;
    max-width: 196px;
    max-height: 439px;
    width: 13.61vw;
    height: 30.48vw;
    background-image: url('../img/figure1.2.png');
    top: 48%; left:0;
    transform: translateY(-50%);
    background-position: 0% 50%;

    @include respond(sm) {
      width: 100%;
      height: 430px;
    }
  }

  &__figure-3 {
    z-index: -1;
    max-width: 499px;
    max-height: 451px;
    width: 34.65vw;
    height: 31.32vw;
    background-image: url('../img/figure1.3.png');
    top: 0; right:0;
    background-position: 100% 0%;
    
    @include respond(md) {
      display: none;
    }
  }

  &__figure-4 {
    max-width: 230px;
    max-height: 312px;
    min-width: 110px;
    width: 15.97vw;
    height: 21.66vw;
    background-image: url('../img/figure1.4.png');
    bottom: 0; right:0;
    background-position: 100% 100%;

    @include respond(md) {
      bottom: auto; top: 133px;
      z-index: -1;
    }
  }
}