@import "default";

.title-margin-sm {
  margin-bottom: rem(40);
}

.title-margin-lg {
  margin-bottom: rem(100);
}

.color-purple {
  color: $purple;
}

.keepcenter {
  max-width: 1110px;
  margin: 0 auto;
}

.outer {
  max-width: 1920px;
  margin: 0 auto;
}

.button {
  font-family: 'Montserrat', sans-serif;;
  font-weight: bold;
  border: none;
  padding: rem(24);
  font-size: rem(22);
  background: $purple;
  color: #ffffff;
  align-self: flex-start;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  text-decoration: none !important;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    transform: scale(1.1);
  }

  &_block {
      display: block;
      width: 100%;
  }

  &_elipse {
    border-radius: 35px;
  }

  &_blue {
    background: $blue;
  }

  &_semi-bold {
    font-weight: 600;
  }

  &_width-limit {
    min-width: 350px;
  }

  &_lightweight {
    font-size: rem(16);
  }

  &_control {
    color: $black;
    font-weight: 600;
    background: $white;
    border-radius: 30px;

    &:hover {
      transform: none;
    }
  }

  &_control-next {
    color: $white;
    background: $purple;
  }
}

// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE
// RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE