@import "desctop";

@media (max-width: 1199px) { 

body {
  min-width: 414px;
  font-size: rem(12);
}

h1 {
  font-size: rem(38);
}

h2 {
  font-size: rem(32);
}

h3 {
  font-size: rem(22);
}

h4, h5 {
  font-size: rem(16);
}

.keepcenter {
  padding-left: 24px;
  padding-right: 24px;
}

.outer {
}

.button {
  font-size: rem(16);
  padding: rem(20);

  &:hover {
    transform: none;
  }

  &_elipse {
    font-size: rem(20);
    padding: rem(24);
  }

  &_wide {
  }

  &_lightweight {
  }

  &_control {

    &:hover {
    }

    &.active {
    }
  }
}

.btn-row,
.btn-cell {
  font-size: rem(14);
  padding: rem(16) rem(15);
}

.btn-cell {
  width: 50%;
  
  &:hover {
  }

  &::after {
    right: 15px;
  }

  &.active {
    &::after {
    }
  }

  &_green {
  }
}


.marked-frame {
  padding: 16px 18px;
  
  &::before {
    content: '';
    width: 20px;
    height: 15px;
    position: absolute;
    left: 18px; 
  }
}


.input-box {
  padding: 8px 15px 8px 13px;
  font-size: rem(18);

  &__text {
  }

  &__input {
    font-size: 22px;
    width: 122px;
    padding: 6px 20px 6px 50px;
    color: #E4E1E1;
  }
  &__wide-input {
    padding: 10px 22px 6px;
    width: 262px;
  }
}



//////////////Flow-styles
//////////////Flow-styles
//////////////Flow-styles
//////////////Flow-styles
//////////////Flow-styles

.action-screen {
}





}

